<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>The Better Wiki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--<link rel="shortcut icon" href="/images/favicon.ico" />-->
    <!--<link rel="icon" href="/images/favicon.ico" />-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>-->
    <!--&lt;!&ndash;<script src="/js/jquery-1.3.1.min.js" type="text/javascript" charset="utf-8"></script>&ndash;&gt;-->
    <!--<script src="/js/index.js"></script>-->

</head>

<body>

<p>Change Me!!!</p>

</body>

</html>